body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: rgb(51, 43, 43);
}

.editor {
    border-radius: 20px;
    width: 90%;
    height: 70%;
    max-height: 70%;
    max-width: 90%;
    background-color: #b4a2a2;
    border: 1px solid black;
    padding: 2vw;
}

.toolbar {
    border-radius: 20px;
    padding: 10px;
    background-color: #575353;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.toolbar button, .toolbar select, .toolbar input[type="color"] {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;

}

.toolbar button:hover, .toolbar select:hover, .toolbar input[type="color"]:hover {
    background-color: #e0e0e0;
}

.toolbar input[type="text"] {
    padding: 5px;
    flex-grow: 1;
    border-radius: 20px;

}

.text-area {
    font-size: larger;
    padding: 2vw;
    min-height: 300px;
    outline: none;
    color: black;
}

.highlight {
    background-color: yellow;
}

#resultCount {
    display: flex;
    align-self: center;
    margin-left: 10px;
    color: #fff;
}

